.mytitle{
    display:flex;
    justify-content: center;
    padding: 1%;
    border-radius: 3%;
}

.mybody{
    background-color: antiquewhite;
}

body{
    background-color: antiquewhite;
    border-radius: 3%;
}
.pd5{
    padding: 5%;
}
.pd3{
    padding: 3%;
}
.pd1{
    padding: 1%;
}