.mytitle, h3{
    display:flex;
    justify-content: space-around;
    padding: 1%;
    border-radius: 30px;
    color:#C3070F
}
body{
    background-color: #1A1A1D;
    border-radius: 3%;
}
.pd5{
    padding: 5%;
}
.pd3{
    padding: 3%;
}
.pd1{
    padding: 1%;
}
p, .col-sm{
    color:#C3070F
}
.card-body{
    background-color: #1A1A1D;
    color: #C3070F
}
.card{
    background-color: #4E4E50;
    padding: 1%;
}
.nav-link, .navbar-brand{
    color: #C3070F;
}
.dropdown-menu, .dropdown-item{
    color: #C3070F;
    background-color: #4E4E50;
}
h1, h3{
    background-color: #4E4E50;
    animation: text-rotation 0.9s ease-in-out;

}
.mydiv{
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.rounded-2{
    color: #C3070F;
    background-color: #4E4E50;
    
}

.kodfun-galeri {
    display: flex;   
    height: 20rem;   
    gap: 1rem;
    }
    
.kodfun-galeri > div {   
    flex: 1;    
    border-radius: 1rem;  
    background-position: center;   
    background-repeat: no-repeat;   
    background-size: cover;   
    transition: flex .8s ease-in-out;   
}   
.kodfun-galeri > div:hover {   
    flex: 5;   
}


.card, .btn, .d-block{
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.card:hover, .btn:hover, .d-block:hover{
    transform: scale(1.1);
}

.col > img:hover {
    transform: scale(1.1); 
    transition: transform 200ms ease;
}
.col > img {
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.2);
  }


  @keyframes text-rotation {
    0% {
        transform: translateX(-200%) rotate(0deg);
      }
    100% {
        transform: translateX(0) rotate(0deg);
      }
  }

  .dropdown-menu {
    animation: dropdown 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  
  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .dropdown:hover .dropdown-menu {
    visibility: visible;
  }
  .static {
    position:absolute;
    background: white;
  }
  
  .static:hover {
    opacity:0;
  }

  label, h2{
    color:#C3070F;
  }
